
<div id="pickup-modal" class="pickup-modal hidden">
  <div class="pickup-box">

    <div class="pickup-header">
      <h3>Select store</h3>
      <button id="close-pickup">×</button>
    </div>

    <input
      type="text"
      id="store-search"
      placeholder="Search store"
      class="store-search"
    >

    <div id="store-results"></div>

    <button id="confirm-pickup" disabled>
      Collect from store
    </button>

  </div>
</div>
